.product{
    display: flex;
    border: 1px lightgrey solid;
    border-radius: 5px;
    margin: 15px 30px 15px 0px;
    padding: 0px 0px;
    height: 350px;
    width: 200px;
}

.product:hover{
    opacity: 80%;
    cursor: pointer;
}

.product_title {
    opacity: 60%;
}

.product_price {
    color: #00608d;
}

.product_color{
    height: 10px;
    width: 10px;
}

.product_images img{
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;
}

.icons {
    position: absolute;
    left: 0;
    top: 65%;
}

.product_detail{
    position:absolute;
    top: 68%;
    left: 0;
}

.icons i{
    color: #40bea7;
    margin-right: 5px;
}

#icon-detail{
    margin-right: 10px;
}

.icons,
.product_detail {
    padding: 0px 15px;
}

.product_detail h3{
    padding: 0px;
}

.product-container{
    padding:0px;
}

.dropdown-list{
    text-align: end;
    margin-bottom: 10px;
}

.product-row{
    display: flexbox;
    margin:0;
}
